// Миксины
@mixin arrows {
  background-size: contain;
  width: 40px;
  height: 22px;
  margin: 350px 10px 0px 10px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 3;
}
@mixin defenders {
  width: 40px;
  height: 25px;
  margin: 350px 10px 0px 10px;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  box-sizing: border-box;
  &:hover {
    background-color: yellow;
    border: 3px solid black;
    cursor: pointer;
  }
}
@mixin attackShape {
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}
@mixin tips {
  width: 80px;
  height: 40px;
  margin-top: 210px;
  font-size: 25px;
  border-radius: 45px;
  position: absolute;
  margin-bottom: -105px;
  z-index: 3;
}
// @mixin tips2 {

// }
@mixin boxSize {
  width: 30px;
  border: 2px solid black;
}
@mixin forCons($marginTop, $marginLeft, $borderLeft, $borderRight, $rotate) {
  margin-top: $marginTop;
  margin-left: $marginLeft;
  border-left: $borderLeft solid transparent;
  border-right: $borderRight solid transparent;
  rotate: $rotate;
}

// Основной CSS
.personalInfoForAttack {
  display: flex;
  justify-content: center;
}
.none {
  display: none;
}
.playArea {
  background: url(../photos/area8.jpg) no-repeat;
  text-align: center;
  width: 525px;
  height: 700px;
  display: inline-block;
  margin-top: 10px;
  .typeOfAttack {
    position: absolute;
    margin: -5px -28px;
    background-color: #0272be;
    color: white;
    font-weight: bold;
    width: 316px;
    text-align: center;
    font-size: 25px;
  }
  .compareFields {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    input {
      display: block;
      width: 120px;
      height: 30px;
      font-size: 25px;
      font-weight: bold;
      justify-content: center;
      text-align: center;
    }
    .equal {
      font-weight: bold;
      font-size: 25px;
      width: 100px;
      box-sizing: border-box;
      margin: 0px 10px;
      display: block;
    }
  }
  .showTheBall {
    color: black;
    background-color: transparent;
    display: "initial";
    border: none;
    font-weight: 100;
    &:hover {
      border: none;
      background-color: transparent;
      font-weight: 100;
    }
  }
  .zone25A {
    border-bottom: 262px solid transparent;
    @include forCons(169px, -133px, 0px, 35px, 0deg);
  }
  .zone25B {
    border-bottom: 271px solid transparent;
    @include forCons(158px, -112px, 5px, 35px, -8.7deg);
  }
  .zone26A {
    border-bottom: 271px solid transparent;
    @include forCons(152px, -90px, 5px, 35px, -19deg);
  }
  .zone26B {
    border-bottom: 271px solid transparent;
    @include forCons(142px, -72px, 10px, 35px, -30.4deg);
  }
  .zone21A {
    border-bottom: 273px solid transparent;
    @include forCons(125px, -56px, 16px, 35px, -43.2deg);
  }
  .zone21B {
    border-bottom: 274px solid transparent;
    @include forCons(102px, -32px, 7px, 35px, -53deg);
  }
  .zone15A {
    border-bottom: 342px solid transparent;
    @include forCons(89px, -133px, 0px, 35px, 0deg);
  }
  .zone15B {
    border-bottom: 350px solid transparent;
    @include forCons(80px, -114px, 5px, 35px, -7.6deg);
  }
  .zone16A {
    border-bottom: 350px solid transparent;
    @include forCons(74px, -91px, 5px, 35px, -15.2deg);
  }
  .zone16B {
    border-bottom: 350px solid transparent;
    @include forCons(66px, -71px, 10px, 35px, -23.6deg);
  }
  .zone11A {
    border-bottom: 353px solid transparent;
    @include forCons(54px, -53px, 16px, 35px, -33deg);
  }
  .zone11B {
    border-bottom: 350px solid transparent;
    @include forCons(39px, -25px, 7px, 35px, -41deg);
  }
  // 4 зона
  .zone45A {
    border-bottom: 277px solid transparent;
    @include forCons(101px, -17px, 35px, 11px, 53deg);
  }
  .zone45B {
    border-bottom: 273px solid transparent;
    @include forCons(125px, -2px, 35px, 16px, 42.2deg);
  }
  .zone46A {
    border-bottom: 271px solid transparent;
    @include forCons(143px, 21px, 35px, 10px, 30.4deg);
  }
  .zone46B {
    border-bottom: 271px solid transparent;
    @include forCons(154px, 45px, 35px, 5px, 20deg);
  }
  .zone41A {
    border-bottom: 271px solid transparent;
    @include forCons(160px, 66px, 35px, 5px, 9.7deg);
  }
  .zone41B {
    border-bottom: 271px solid transparent;
    @include forCons(162px, 90px, 35px, 0px, 0deg);
  }
  // Пайп
  .Pipe5A {
    @include forCons(69px, -83px, 22px, 12px, 17deg);
    border-bottom: 354px solid transparent;
  }
  .Pipe5B {
    @include forCons(73px, -67px, 29px, 12px, 9.3deg);
    border-bottom: 354px solid transparent;
  }
  .Pipe6A {
    @include forCons(79px, -45px, 33px, 12px, 1deg);
    border-bottom: 350px solid transparent;
  }
  .Pipe6B {
    @include forCons(78px, -8px, 12px, 33px, -3deg);
    border-bottom: 350px solid transparent;
  }
  .Pipe1A {
    @include forCons(74.63px, 12px, 21px, 29px, -11.3deg);
    border-bottom: 350px solid transparent;
  }
  .Pipe1B {
    @include forCons(66px, 41px, 12px, 16px, -19deg);
    border-bottom: 355px solid transparent;
  }
  .K15A {
    border-bottom: 245px solid transparent;
    @include forCons(158px, -107px, 27px, 12px, 13deg);
  }
  .K15B {
    border-bottom: 243px solid transparent;
    @include forCons(164px, -81px, 22px, 12px, 4deg);
  }
  .K16A {
    border-bottom: 242px solid transparent;
    @include forCons(164px, -68px, 37px, 7px, -9deg);
  }
  .K16B {
    border-bottom: 235px solid transparent;
    @include forCons(163px, -35px, 22px, 21px, -18deg);
  }
  .K11A {
    border-bottom: 230px solid transparent;
    @include forCons(155px, -6px, 12px, 29px, -27.3deg);
  }
  .K11B {
    border-bottom: 234px solid transparent;
    @include forCons(142.5px, 13px, 7px, 22px, -36deg);
  }
  // /* KC */
  // /* Выше 35% */
  .KC5A {
    border-bottom: 240px solid transparent;
    @include forCons(153px, -78px, 22px, 12px, 30deg);
  }
  .KC5B {
    border-bottom: 245px solid transparent;
    @include forCons(157px, -62px, 29px, 12px, 18.3deg);
  }
  .KC6A {
    border-bottom: 247px solid transparent;
    @include forCons(160px, -40px, 33px, 12px, 6deg);
  }
  .KC6B {
    border-bottom: 249px solid transparent;
    @include forCons(160px, -4px, 12px, 33px, 0deg);
  }
  .KC1A {
    border-bottom: 251px solid transparent;
    @include forCons(156px, 18px, 12px, 29px, -11.3deg);
  }
  .KC1B {
    border-bottom: 250px solid transparent;
    @include forCons(152px, 42px, 12px, 22px, -22deg);
  }
  // /* K7 */
  // /* Выше 35% */
  .K75A {
    border-bottom: 264px solid transparent;
    @include forCons(120px, -41px, 25px, 12px, 42deg);
  }
  .K75B {
    border-bottom: 264px solid transparent;
    @include forCons(133px, -26px, 26px, 16px, 31.2deg);
  }
  .K76A {
    border-bottom: 251px solid transparent;
    @include forCons(153px, -12px, 35px, 10px, 17.4deg);
  }
  .K76B {
    border-bottom: 253px solid transparent;
    @include forCons(157px, 16px, 34px, 5px, 7deg);
  }
  .K71A {
    border-bottom: 254px solid transparent;
    @include forCons(159px, 56px, 0px, 35px, 3.7deg);
  }
  .K71B {
    border-bottom: 254px solid transparent;
    @include forCons(158px, 78px, 0px, 36px, -5deg);
  }
  // ТУТ

  .balls {
    button {
      background-color: transparent;
      color: transparent;
      border-top: transparent 1px solid;
      position: absolute;
      z-index: 1;
      transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
    }
  }
  .smallarrowleft {
    background: url(../photos/arrowright.png) no-repeat center center;
    @include arrows;
  }
  .smallarrowright {
    background: url(../photos/arrowleft.png) no-repeat center center;
    @include arrows;
  }
  .defenderOn {
    background-color: yellow;
    border: 3px solid black;
    @include defenders;
  }
  .defenderOff {
    background-color: transparent;
    border: 3px solid transparent;
    @include defenders;
  }
  .inputForCount {
    width: 39px;
    height: 78px;
    border: 1px solid black;
    background-color: transparent;
    margin: -25px 0px 0px 0px;
    font-size: 25px;
    text-align: center;
    display: inline-flex;
    z-index: 5;
    position: relative;
  }
  .inputForCount[disabled] {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid transparent;
    z-index: 2;
  }
  .yellowtip4 {
    background-color: yellow;
    border: 2px black solid;
    margin-left: 20px;
    @include tips;
  }
  .yellowtip2 {
    background-color: yellow;
    border: 2px black solid;
    margin-left: -100px;
    @include tips;
  }
  .tip4 {
    @include tips;
    margin-left: 20px;
    background-color: transparent;
    color: transparent;
    border: none;
    &:hover {
      background: yellow;
      background-color: yellow;
      box-shadow: 0 15px 20px yellow;
      color: black;
      transform: translateY(-7px);
      transition: 0.3s;
      border: 2px black solid;
    }
  }
  .tip2 {
    @include tips;
    margin-left: -100px;
    background-color: transparent;
    color: transparent;
    border: none;
    &:hover {
      background: yellow;
      background-color: yellow;
      box-shadow: 0 15px 20px yellow;
      color: black;
      transform: translateY(-7px);
      transition: 0.3s;
      border: 2px black solid;
    }
  }
  .countbutton {
    font-size: 38px;
    border: none;
    background-color: #f8931f;
    display: block;
    cursor: pointer;
    width: 262px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 30px;
  }
  .needtoclose {
    font-size: 45px;
    width: 85px;
    height: 55px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    color: red;
    font-weight: bold;
    z-index: 4;
  }
  .zoneinput {
    display: inline-block;
    .beforeCheckTheBall {
      font-size: 38px;
      border: none;
      background-color: #f8931f;
      display: block;
      cursor: pointer;
      width: 266px;
      text-align: center;
      color: black;
      font-weight: bold;
      margin-top: 30px;
    }
  }
}
.explain {
  font-size: 20px;
  margin: -90px 0px 0px -75px;
  position: absolute;
  input {
    display: block;
    width: 150px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    border: 2px solid black;
  }
  .returnButton {
    padding: 5px;
    background-color: yellowgreen;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
  }
  .comments {
    text-align: start;
    label {
      font-size: 30px;
      display: block;
    }
    .textcomment {
      display: block;
      width: 150px;
      height: 200px;
      font-size: 17px;
      border: 2px solid black;
      resize: none;
      overflow: auto;
    }
  }
  .box {
    width: 150px;
    display: flex;
    margin-top: 5px;
    label {
      width: 60px;
    }
    .orangeSquare {
      @include boxSize;
      background-color: #f8931f;
    }
    .pinkSquare {
      @include boxSize;
      background-color: pink;
    }
    .purpleSquare {
      @include boxSize;
      background-color: purple;
    }
    .square {
      @include boxSize;
      background-color: firebrick;
    }
  }
  .saveBox {
    width: 160px;
    display: flex;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
      width: 30px;
      height: 30px;
    }
  }
}
.atackFileds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.labelAttack {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 45px;
  width: 100%;
}
.attackZone2 {
  margin: 130px 0px 0px -160px;
  @include attackShape;
}
.attackZone1 {
  margin: 50px 0px 0px -160px;
  @include attackShape;
}
.attackZone4 {
  margin: 130px 0px 0px 100px;
  @include attackShape;
}
.attackPipe {
  margin: 40px 0px 0px -32px;
  @include attackShape;
}
.attackKC {
  margin: 130px 0px 0px -15px;
  @include attackShape;
}
.attackK1 {
  margin: 130px 0px 0px -75px;
  @include attackShape;
}
.attackK7 {
  margin: 130px 0px 0px 45px;
  @include attackShape;
}
