@mixin linkIcons {
  width: 45px;
  height: 45px;
  border: none;
  margin: 10px 10px;
  border-radius: 50%;
  &:hover {
    transform: translateY(-10px);
    transition: 0.7s;
    background-color: transparent;
  }
}
@mixin emailPanel {
  margin: 10px auto;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
@mixin log {
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  border: 4px solid silver;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  .block {
    display: flex;
    width: 400px;
    align-items: center;
  }
  .matchup {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 80px;
    img {
      width: 80px;
      height: 80px;
      margin: 0px 20px;
      box-sizing: border-box;
    }
  }
  .logout {
    background-color: indianred;
    color: white;
    @include log;
  }
  .login {
    background-color: cornflowerblue;
    @include log;
  }
  button {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 15px 20px lemonchiffon;
      transform: translateY(-7px);
      transition: 0.3s;
    }
  }
}

.emailPanel {
  position: fixed;
  background-color: darkgray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 25;
  padding: 10px;
  .google {
    background: url("../photos/google.jpg") no-repeat center center;
    background-size: cover;
    @include linkIcons;
  }
  .facebook {
    background: url("../photos/facebook.jpg") no-repeat center center;
    background-size: cover;
    @include linkIcons;
  }
  .email {
    background: url("../photos/email.jpg") no-repeat center center;
    background-size: cover;
    @include linkIcons;
  }
  .createAccount {
    font-size: 15px;
    width: 150px;
    font-size: 100;
    border: none;
    background-color: transparent;
  }
  input {
    @include emailPanel;
  }
  button {
    @include emailPanel;
    background-color: cornflowerblue;
    &:hover {
      background-color: indianred;
    }
  }
  label {
    @include emailPanel;
    font-size: 30px;
  }
}
