.none {
  display: none;
}

.explain {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #0272be;
  justify-content: center;
  align-items: center;
}
.explain label {
  font-size: 18px;
  display: block;
  font-weight: 600;
}
.explain .saveBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
}
.explain .saveBox .returnButton {
  background-color: yellowgreen;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 1vw;
  font-weight: bold;
}
.explain .saveBox .returnButton:hover {
  transition: 0.3s;
  opacity: 1;
  scale: 1.3;
}
.explain .input-wrapper {
  display: flex;
  width: 100%;
}
.explain .input-wrapper input {
  width: 100%;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;
}

.playArea {
  width: 100%;
}
.playArea .select-wrapper {
  width: 100%;
}
.playArea .select-wrapper .typeOfAction {
  background-color: orangered;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  width: 100%;
}
.playArea .select-wrapper select[disabled] {
  opacity: 1;
  background-color: #0272be;
}
.playArea .compareFields {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -70px;
  z-index: 16;
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
}
.playArea .compareFields .input-equality-wrapper,
.playArea .compareFields .label-equality-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playArea .compareFields .input-equality-wrapper {
  width: 40%;
}
.playArea .compareFields .input-equality-wrapper label {
  font-weight: 600;
  font-size: 18px;
}
.playArea .compareFields .input-equality-wrapper input {
  display: block;
  width: 80%;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  box-sizing: border-box;
}
.playArea .compareFields .label-equality-wrapper {
  width: 20%;
}
.playArea .compareFields .label-equality-wrapper .equal {
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}
.playArea .cones-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.playArea .cones-wrapper button {
  background-color: transparent;
  border: none;
}
.playArea .defender-wrapper {
  position: absolute;
  width: 100%;
  bottom: 8%;
  display: flex;
  justify-content: center;
}
.playArea .defender-wrapper .smallarrowleft {
  background: url(../photos/arrowright.png) no-repeat center center;
  background-size: contain;
  border: none;
  height: 100%;
  aspect-ratio: 2/1;
  padding: 0px 20px;
  margin: 0 10px;
  border: 3px solid transparent;
  z-index: 3;
}
.playArea .defender-wrapper .smallarrowright {
  background: url(../photos/arrowleft.png) no-repeat center center;
  background-size: contain;
  border: none;
  height: 100%;
  aspect-ratio: 2/1;
  padding: 0px 20px;
  margin: 0 10px;
  border: 3px solid transparent;
  z-index: 3;
}
.playArea .defender-wrapper .defenderOn {
  background-color: yellow;
  border: 3px solid black;
  height: 100%;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  box-sizing: border-box;
  aspect-ratio: 2/1;
  padding: 0px 20px;
  margin: 0 10px;
}
.playArea .defender-wrapper .defenderOn:hover {
  background-color: yellow;
  border: 3px solid black;
  cursor: pointer;
}
.playArea .defender-wrapper .defenderOff {
  background-color: transparent;
  border: 3px solid transparent;
  height: 100%;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  box-sizing: border-box;
  aspect-ratio: 2/1;
  padding: 0px 20px;
  margin: 0 10px;
}
.playArea .defender-wrapper .defenderOff:hover {
  background-color: yellow;
  border: 3px solid black;
  cursor: pointer;
}
.playArea .inputs-wrapper {
  display: flex;
  bottom: 0;
  position: absolute;
}
.playArea .inputs-wrapper .inputForCount {
  border: 2px solid white;
  background-color: transparent;
  z-index: 5;
  width: 100%;
  aspect-ratio: 1/2.13;
  text-align: center;
  font-size: calc(2vmin + 0.75rem);
  border-bottom: none;
}
.playArea .inputForCount[disabled] {
  color: #000;
  font-size: calc(0.5vmin + 0.75rem);
  font-weight: bold;
  border: none;
  z-index: 2;
  aspect-ratio: 1.5/1;
}
.playArea .tip-wrapper {
  position: absolute;
  width: 100%;
  bottom: 35%;
  z-index: 16;
}
.playArea .tip-wrapper .tip,
.playArea .tip-wrapper .yellowtip {
  width: 25%;
  border-radius: 1vmax;
  border: none;
  margin: 0px 1vmin;
  font-size: calc(1.75vmin + 0.3rem);
  padding: 5px 0;
  font-weight: 600;
}
.playArea .tip-wrapper .tip {
  background-color: transparent;
  color: transparent;
}
.playArea .tip-wrapper .tip:hover {
  background-color: yellow;
  border: 2px solid black;
  color: #000;
}
.playArea .tip-wrapper .yellowtip {
  background-color: yellow;
  border: 2px solid black;
}
.playArea .count-button-wrapper {
  position: absolute;
  width: 100%;
  top: 20%;
  z-index: 15;
}
.playArea .count-button-wrapper .countButton {
  background-color: #0272be;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 25px;
  padding: 1vmin 2vmin;
  color: white;
  z-index: 2;
  font-size: calc(1vmax + 0.3rem);
  font-weight: 600;
}
.playArea .count-button-wrapper .countButton:hover {
  transition: 0.3s;
  opacity: 1;
  scale: 1.3;
}
.playArea .count-button-wrapper .countButton[disabled] {
  display: none;
}
.playArea .showTheBall {
  color: black;
  background-color: transparent !important;
  display: "initial";
  border: 2px solid transparent !important;
  font-weight: 100;
}

.playArea .zones-wrapper .attackZone2 {
  left: -6%;
  top: 45%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackZone2:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackZone1 {
  left: -6%;
  top: 30%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackZone1:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackZone4 {
  right: -6%;
  top: 45%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackZone4:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackPipe {
  top: 30%;
  left: 43%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackPipe:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackK1 {
  top: 45%;
  right: 58%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackK1:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackKC {
  top: 45%;
  right: 43%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackKC:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .attackK7 {
  top: 45%;
  right: 28%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .attackK7:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .serviceZone1 {
  left: 8%;
  top: 8%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .serviceZone1:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .serviceZone6 {
  left: 43%;
  top: 8%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .serviceZone6:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .zones-wrapper .serviceZone5 {
  right: 8%;
  top: 8%;
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 50%;
  background-color: cornflowerblue;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  box-sizing: border-box;
}
.playArea .zones-wrapper .serviceZone5:hover {
  transition: 0.3s;
  background-color: orangered;
  opacity: 1;
  scale: 1.15;
}
.playArea .cones-wrapper .zone25A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 1.666% 100%, 16.66% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone25B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone26A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone26B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone21A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone21B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone15A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 1.666% 100%, 16.66% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone15B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone16A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone16B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone11A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone11B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(0 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .zone45A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 0 100%, 16.66% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone45B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone46A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone46B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone41A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .zone41B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(100% 0, 83.3% 100%, 98.294% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .Pipe5A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 0 100%, 16.66% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .Pipe5B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .Pipe6A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .Pipe6B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .Pipe1A {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .Pipe1B {
  left: 0;
  top: 26%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1.33;
}
.playArea .cones-wrapper .K15A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 0 100%, 16.66% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K15B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K16A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K16B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K11A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K11B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(35% 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC5A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 0 100%, 16.66% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC5B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC6A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC6B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC1A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .KC1B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K75A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 0 100%, 16.66% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K75B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 16.66% 100%, 33.32% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K76A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 33.32% 100%, 49.98% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K76B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 49.98% 100%, 66.64% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K71A {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 66.64% 100%, 83.3% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .K71B {
  left: 0;
  top: 42%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(65% 0, 83.3% 100%, 99.96% 100%);
  aspect-ratio: 1/1;
}
.playArea .cones-wrapper .service1Z5 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(15% 0, 0 100%, 33.3% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service1Z6 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(15% 0, 33.3% 100%, 66.6% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service1Z1 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(15% 0, 66.6% 100%, 99.9% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service5Z5 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(85% 0, 0 100%, 33.3% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service5Z6 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(85% 0, 33.3% 100%, 66.6% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service5Z1 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(85% 0, 66.6% 100%, 99.9% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service6Z5 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 0 100%, 33.3% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service6Z6 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 33.3% 100%, 66.6% 100%);
  aspect-ratio: 1/1.75;
}
.playArea .cones-wrapper .service6Z1 {
  left: 0;
  top: 5%;
  position: absolute;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
  clip-path: polygon(50% 0, 66.6% 100%, 99.9% 100%);
  aspect-ratio: 1/1.75;
}

/*# sourceMappingURL=newAttack.css.map */
