.personalInfoForAttack {
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}

.playArea {
  background: url(../photos/area8.jpg) no-repeat;
  text-align: center;
  width: 525px;
  height: 700px;
  display: inline-block;
}
.playArea .compareFields {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.playArea .compareFields input {
  display: block;
  width: 120px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
.playArea .compareFields .equal {
  font-weight: bold;
  font-size: 25px;
  width: 100px;
  box-sizing: border-box;
  margin: 0px 10px;
  display: block;
}
.playArea .showTheBall {
  color: black;
  background-color: transparent;
  display: "initial";
  border: none;
  font-weight: 100;
}
.playArea .showTheBall:hover {
  border: none;
  background-color: transparent;
  font-weight: 100;
}
.playArea .yellow5Azone2 {
  border-bottom: 262px solid pink;
  margin-top: 169px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .red5Azone2 {
  border-bottom: 262px solid firebrick;
  margin-top: 169px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .purple5Azone2 {
  border-bottom: 262px solid purple;
  margin-top: 169px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .blue5Azone2 {
  border-bottom: 262px solid transparent;
  margin-top: 169px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .yellow5Bzone2 {
  border-bottom: 271px solid pink;
  margin-top: 158px;
  margin-left: -112px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -8.7deg;
}
.playArea .red5Bzone2 {
  border-bottom: 271px solid firebrick;
  margin-top: 158px;
  margin-left: -112px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -8.7deg;
}
.playArea .purple5Bzone2 {
  border-bottom: 271px solid purple;
  margin-top: 158px;
  margin-left: -112px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -8.7deg;
}
.playArea .blue5Bzone2 {
  border-bottom: 271px solid transparent;
  margin-top: 158px;
  margin-left: -112px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -8.7deg;
}
.playArea .yellow6Azone2 {
  border-bottom: 271px solid pink;
  margin-top: 152px;
  margin-left: -90px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -19deg;
}
.playArea .red6Azone2 {
  border-bottom: 271px solid firebrick;
  margin-top: 152px;
  margin-left: -90px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -19deg;
}
.playArea .purple6Azone2 {
  border-bottom: 271px solid purple;
  margin-top: 152px;
  margin-left: -90px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -19deg;
}
.playArea .blue6Azone2 {
  border-bottom: 271px solid transparent;
  margin-top: 152px;
  margin-left: -90px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -19deg;
}
.playArea .yellow6Bzone2 {
  border-bottom: 271px solid pink;
  margin-top: 142px;
  margin-left: -72px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -30.4deg;
}
.playArea .red6Bzone2 {
  border-bottom: 271px solid firebrick;
  margin-top: 142px;
  margin-left: -72px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -30.4deg;
}
.playArea .purple6Bzone2 {
  border-bottom: 271px solid purple;
  margin-top: 142px;
  margin-left: -72px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -30.4deg;
}
.playArea .blue6Bzone2 {
  border-bottom: 271px solid transparent;
  margin-top: 142px;
  margin-left: -72px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -30.4deg;
}
.playArea .yellow1Azone2 {
  border-bottom: 273px solid pink;
  margin-top: 125px;
  margin-left: -56px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -43.2deg;
}
.playArea .red1Azone2 {
  border-bottom: 273px solid firebrick;
  margin-top: 125px;
  margin-left: -56px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -43.2deg;
}
.playArea .purple1Azone2 {
  border-bottom: 273px solid purple;
  margin-top: 125px;
  margin-left: -56px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -43.2deg;
}
.playArea .blue1Azone2 {
  border-bottom: 273px solid transparent;
  margin-top: 125px;
  margin-left: -56px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -43.2deg;
}
.playArea .yellow1Bzone2 {
  border-bottom: 274px solid pink;
  margin-top: 102px;
  margin-left: -32px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -53deg;
}
.playArea .red1Bzone2 {
  border-bottom: 274px solid firebrick;
  margin-top: 102px;
  margin-left: -32px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -53deg;
}
.playArea .purple1Bzone2 {
  border-bottom: 274px solid purple;
  margin-top: 102px;
  margin-left: -32px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -53deg;
}
.playArea .blue1Bzone2 {
  border-bottom: 274px solid transparent;
  margin-top: 102px;
  margin-left: -32px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -53deg;
}
.playArea .yellow5Azone1 {
  border-bottom: 342px solid pink;
  margin-top: 89px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .red5Azone1 {
  border-bottom: 342px solid firebrick;
  margin-top: 89px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .purple5Azone1 {
  border-bottom: 342px solid purple;
  margin-top: 89px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .blue5Azone1 {
  border-bottom: 342px solid transparent;
  margin-top: 89px;
  margin-left: -133px;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  rotate: 0deg;
}
.playArea .yellow5Bzone1 {
  border-bottom: 350px solid pink;
  margin-top: 80px;
  margin-left: -114px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -7.6deg;
}
.playArea .red5Bzone1 {
  border-bottom: 350px solid firebrick;
  margin-top: 80px;
  margin-left: -114px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -7.6deg;
}
.playArea .purple5Bzone1 {
  border-bottom: 350px solid purple;
  margin-top: 80px;
  margin-left: -114px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -7.6deg;
}
.playArea .blue5Bzone1 {
  border-bottom: 350px solid transparent;
  margin-top: 80px;
  margin-left: -114px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -7.6deg;
}
.playArea .yellow6Azone1 {
  border-bottom: 350px solid pink;
  margin-top: 74px;
  margin-left: -91px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -15.2deg;
}
.playArea .red6Azone1 {
  border-bottom: 350px solid firebrick;
  margin-top: 74px;
  margin-left: -91px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -15.2deg;
}
.playArea .purple6Azone1 {
  border-bottom: 350px solid purple;
  margin-top: 74px;
  margin-left: -91px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -15.2deg;
}
.playArea .blue6Azone1 {
  border-bottom: 350px solid transparent;
  margin-top: 74px;
  margin-left: -91px;
  border-left: 5px solid transparent;
  border-right: 35px solid transparent;
  rotate: -15.2deg;
}
.playArea .yellow6Bzone1 {
  border-bottom: 350px solid pink;
  margin-top: 66px;
  margin-left: -71px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -23.6deg;
}
.playArea .red6Bzone1 {
  border-bottom: 350px solid firebrick;
  margin-top: 66px;
  margin-left: -71px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -23.6deg;
}
.playArea .purple6Bzone1 {
  border-bottom: 350px solid purple;
  margin-top: 66px;
  margin-left: -71px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -23.6deg;
}
.playArea .blue6Bzone1 {
  border-bottom: 350px solid transparent;
  margin-top: 66px;
  margin-left: -71px;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  rotate: -23.6deg;
}
.playArea .yellow1Azone1 {
  border-bottom: 353px solid pink;
  margin-top: 54px;
  margin-left: -53px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -33deg;
}
.playArea .red1Azone1 {
  border-bottom: 353px solid firebrick;
  margin-top: 54px;
  margin-left: -53px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -33deg;
}
.playArea .purple1Azone1 {
  border-bottom: 353px solid purple;
  margin-top: 54px;
  margin-left: -53px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -33deg;
}
.playArea .blue1Azone1 {
  border-bottom: 353px solid transparent;
  margin-top: 54px;
  margin-left: -53px;
  border-left: 16px solid transparent;
  border-right: 35px solid transparent;
  rotate: -33deg;
}
.playArea .yellow1Bzone1 {
  border-bottom: 350px solid pink;
  margin-top: 39px;
  margin-left: -25px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -41deg;
}
.playArea .red1Bzone1 {
  border-bottom: 350px solid firebrick;
  margin-top: 39px;
  margin-left: -25px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -41deg;
}
.playArea .purple1Bzone1 {
  border-bottom: 350px solid purple;
  margin-top: 39px;
  margin-left: -25px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -41deg;
}
.playArea .blue1Bzone1 {
  border-bottom: 350px solid transparent;
  margin-top: 39px;
  margin-left: -25px;
  border-left: 7px solid transparent;
  border-right: 35px solid transparent;
  rotate: -41deg;
}
.playArea .yellow5Azone4 {
  border-bottom: 277px solid pink;
  margin-top: 101px;
  margin-left: -17px;
  border-left: 35px solid transparent;
  border-right: 11px solid transparent;
  rotate: 53deg;
}
.playArea .red5Azone4 {
  border-bottom: 277px solid firebrick;
  margin-top: 101px;
  margin-left: -17px;
  border-left: 35px solid transparent;
  border-right: 11px solid transparent;
  rotate: 53deg;
}
.playArea .purple5Azone4 {
  border-bottom: 277px solid purple;
  margin-top: 101px;
  margin-left: -17px;
  border-left: 35px solid transparent;
  border-right: 11px solid transparent;
  rotate: 53deg;
}
.playArea .blue5Azone4 {
  border-bottom: 277px solid transparent;
  margin-top: 101px;
  margin-left: -17px;
  border-left: 35px solid transparent;
  border-right: 11px solid transparent;
  rotate: 53deg;
}
.playArea .yellow5Bzone4 {
  border-bottom: 273px solid pink;
  margin-top: 125px;
  margin-left: -2px;
  border-left: 35px solid transparent;
  border-right: 16px solid transparent;
  rotate: 42.2deg;
}
.playArea .red5Bzone4 {
  border-bottom: 273px solid firebrick;
  margin-top: 125px;
  margin-left: -2px;
  border-left: 35px solid transparent;
  border-right: 16px solid transparent;
  rotate: 42.2deg;
}
.playArea .purple5Bzone4 {
  border-bottom: 273px solid purple;
  margin-top: 125px;
  margin-left: -2px;
  border-left: 35px solid transparent;
  border-right: 16px solid transparent;
  rotate: 42.2deg;
}
.playArea .blue5Bzone4 {
  border-bottom: 273px solid transparent;
  margin-top: 125px;
  margin-left: -2px;
  border-left: 35px solid transparent;
  border-right: 16px solid transparent;
  rotate: 42.2deg;
}
.playArea .yellow6Azone4 {
  border-bottom: 271px solid pink;
  margin-top: 143px;
  margin-left: 21px;
  border-left: 35px solid transparent;
  border-right: 10px solid transparent;
  rotate: 30.4deg;
}
.playArea .red6Azone4 {
  border-bottom: 271px solid firebrick;
  margin-top: 143px;
  margin-left: 21px;
  border-left: 35px solid transparent;
  border-right: 10px solid transparent;
  rotate: 30.4deg;
}
.playArea .purple6Azone4 {
  border-bottom: 271px solid purple;
  margin-top: 143px;
  margin-left: 21px;
  border-left: 35px solid transparent;
  border-right: 10px solid transparent;
  rotate: 30.4deg;
}
.playArea .blue6Azone4 {
  border-bottom: 271px solid transparent;
  margin-top: 143px;
  margin-left: 21px;
  border-left: 35px solid transparent;
  border-right: 10px solid transparent;
  rotate: 30.4deg;
}
.playArea .yellow6Bzone4 {
  border-bottom: 271px solid pink;
  margin-top: 154px;
  margin-left: 45px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 20deg;
}
.playArea .red6Bzone4 {
  border-bottom: 271px solid firebrick;
  margin-top: 154px;
  margin-left: 45px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 20deg;
}
.playArea .purple6Bzone4 {
  border-bottom: 271px solid purple;
  margin-top: 154px;
  margin-left: 45px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 20deg;
}
.playArea .blue6Bzone4 {
  border-bottom: 271px solid transparent;
  margin-top: 154px;
  margin-left: 45px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 20deg;
}
.playArea .yellow1Azone4 {
  border-bottom: 271px solid pink;
  margin-top: 160px;
  margin-left: 66px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 9.7deg;
}
.playArea .red1Azone4 {
  border-bottom: 271px solid firebrick;
  margin-top: 160px;
  margin-left: 66px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 9.7deg;
}
.playArea .purple1Azone4 {
  border-bottom: 271px solid purple;
  margin-top: 160px;
  margin-left: 66px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 9.7deg;
}
.playArea .blue1Azone4 {
  border-bottom: 271px solid transparent;
  margin-top: 160px;
  margin-left: 66px;
  border-left: 35px solid transparent;
  border-right: 5px solid transparent;
  rotate: 9.7deg;
}
.playArea .yellow1Bzone4 {
  border-bottom: 271px solid pink;
  margin-top: 162px;
  margin-left: 90px;
  border-left: 35px solid transparent;
  border-right: 0px solid transparent;
  rotate: 0deg;
}
.playArea .red1Bzone4 {
  border-bottom: 271px solid firebrick;
  margin-top: 162px;
  margin-left: 90px;
  border-left: 35px solid transparent;
  border-right: 0px solid transparent;
  rotate: 0deg;
}
.playArea .purple1Bzone4 {
  border-bottom: 271px solid purple;
  margin-top: 162px;
  margin-left: 90px;
  border-left: 35px solid transparent;
  border-right: 0px solid transparent;
  rotate: 0deg;
}
.playArea .blue1Bzone4 {
  border-bottom: 271px solid transparent;
  margin-top: 162px;
  margin-left: 90px;
  border-left: 35px solid transparent;
  border-right: 0px solid transparent;
  rotate: 0deg;
}
.playArea .red5APipe {
  margin-top: 69px;
  margin-left: -83px;
  border-left: 22px solid transparent;
  border-right: 12px solid transparent;
  rotate: 17deg;
  border-bottom: 354px solid firebrick;
}
.playArea .purple5APipe {
  margin-top: 69px;
  margin-left: -83px;
  border-left: 22px solid transparent;
  border-right: 12px solid transparent;
  rotate: 17deg;
  border-bottom: 354px solid purple;
}
.playArea .yellow5APipe {
  margin-top: 69px;
  margin-left: -83px;
  border-left: 22px solid transparent;
  border-right: 12px solid transparent;
  rotate: 17deg;
  border-bottom: 354px solid pink;
}
.playArea .blue5APipe {
  margin-top: 69px;
  margin-left: -83px;
  border-left: 22px solid transparent;
  border-right: 12px solid transparent;
  rotate: 17deg;
  border-bottom: 354px solid transparent;
}
.playArea .red5BPipe {
  margin-top: 73px;
  margin-left: -67px;
  border-left: 29px solid transparent;
  border-right: 12px solid transparent;
  rotate: 9.3deg;
  border-bottom: 354px solid firebrick;
}
.playArea .purple5BPipe {
  margin-top: 73px;
  margin-left: -67px;
  border-left: 29px solid transparent;
  border-right: 12px solid transparent;
  rotate: 9.3deg;
  border-bottom: 354px solid purple;
}
.playArea .yellow5BPipe {
  margin-top: 73px;
  margin-left: -67px;
  border-left: 29px solid transparent;
  border-right: 12px solid transparent;
  rotate: 9.3deg;
  border-bottom: 354px solid pink;
}
.playArea .blue5BPipe {
  margin-top: 73px;
  margin-left: -67px;
  border-left: 29px solid transparent;
  border-right: 12px solid transparent;
  rotate: 9.3deg;
  border-bottom: 354px solid transparent;
}
.playArea .red6APipe {
  margin-top: 79px;
  margin-left: -45px;
  border-left: 33px solid transparent;
  border-right: 12px solid transparent;
  rotate: 1deg;
  border-bottom: 350px solid firebrick;
}
.playArea .purple6APipe {
  margin-top: 79px;
  margin-left: -45px;
  border-left: 33px solid transparent;
  border-right: 12px solid transparent;
  rotate: 1deg;
  border-bottom: 350px solid purple;
}
.playArea .yellow6APipe {
  margin-top: 79px;
  margin-left: -45px;
  border-left: 33px solid transparent;
  border-right: 12px solid transparent;
  rotate: 1deg;
  border-bottom: 350px solid pink;
}
.playArea .blue6APipe {
  margin-top: 79px;
  margin-left: -45px;
  border-left: 33px solid transparent;
  border-right: 12px solid transparent;
  rotate: 1deg;
  border-bottom: 350px solid transparent;
}
.playArea .red6BPipe {
  margin-top: 78px;
  margin-left: -8px;
  border-left: 12px solid transparent;
  border-right: 33px solid transparent;
  rotate: -3deg;
  border-bottom: 350px solid firebrick;
}
.playArea .purple6BPipe {
  margin-top: 78px;
  margin-left: -8px;
  border-left: 12px solid transparent;
  border-right: 33px solid transparent;
  rotate: -3deg;
  border-bottom: 350px solid purple;
}
.playArea .yellow6BPipe {
  margin-top: 78px;
  margin-left: -8px;
  border-left: 12px solid transparent;
  border-right: 33px solid transparent;
  rotate: -3deg;
  border-bottom: 350px solid pink;
}
.playArea .blue6BPipe {
  margin-top: 78px;
  margin-left: -8px;
  border-left: 12px solid transparent;
  border-right: 33px solid transparent;
  rotate: -3deg;
  border-bottom: 350px solid transparent;
}
.playArea .red1APipe {
  margin-top: 74.63px;
  margin-left: 12px;
  border-left: 21px solid transparent;
  border-right: 29px solid transparent;
  rotate: -11.3deg;
  border-bottom: 350px solid firebrick;
}
.playArea .purple1APipe {
  margin-top: 74.63px;
  margin-left: 12px;
  border-left: 21px solid transparent;
  border-right: 29px solid transparent;
  rotate: -11.3deg;
  border-bottom: 350px solid purple;
}
.playArea .yellow1APipe {
  margin-top: 74.63px;
  margin-left: 12px;
  border-left: 21px solid transparent;
  border-right: 29px solid transparent;
  rotate: -11.3deg;
  border-bottom: 350px solid pink;
}
.playArea .blue1APipe {
  margin-top: 74.63px;
  margin-left: 12px;
  border-left: 21px solid transparent;
  border-right: 29px solid transparent;
  rotate: -11.3deg;
  border-bottom: 350px solid transparent;
}
.playArea .red1BPipe {
  margin-top: 66px;
  margin-left: 41px;
  border-left: 12px solid transparent;
  border-right: 16px solid transparent;
  rotate: -19deg;
  border-bottom: 355px solid firebrick;
}
.playArea .purple1BPipe {
  margin-top: 66px;
  margin-left: 41px;
  border-left: 12px solid transparent;
  border-right: 16px solid transparent;
  rotate: -19deg;
  border-bottom: 355px solid purple;
}
.playArea .yellow1BPipe {
  margin-top: 66px;
  margin-left: 41px;
  border-left: 12px solid transparent;
  border-right: 16px solid transparent;
  rotate: -19deg;
  border-bottom: 355px solid pink;
}
.playArea .blue1BPipe {
  margin-top: 66px;
  margin-left: 41px;
  border-left: 12px solid transparent;
  border-right: 16px solid transparent;
  rotate: -19deg;
  border-bottom: 355px solid transparent;
}
.playArea .balls button {
  background-color: transparent;
  color: transparent;
  border-top: transparent 1px solid;
  position: absolute;
  z-index: 1;
  transition: all 1.35s cubic-bezier(0.48, 0.07, 0.12, 0.99);
}
.playArea .smallarrowleft {
  background: url(../photos/arrowright.png) no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 22px;
  margin: 350px 10px 0px 10px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 3;
}
.playArea .smallarrowright {
  background: url(../photos/arrowleft.png) no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 22px;
  margin: 350px 10px 0px 10px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 3;
}
.playArea .defenderOn {
  background-color: yellow;
  border: 3px solid black;
  width: 40px;
  height: 25px;
  margin: 350px 10px 0px 10px;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  box-sizing: border-box;
}
.playArea .defenderOn:hover {
  background-color: yellow;
  border: 3px solid black;
  cursor: pointer;
}
.playArea .defenderOff {
  background-color: transparent;
  border: 3px solid transparent;
  width: 40px;
  height: 25px;
  margin: 350px 10px 0px 10px;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  box-sizing: border-box;
}
.playArea .defenderOff:hover {
  background-color: yellow;
  border: 3px solid black;
  cursor: pointer;
}
.playArea .inputForCount {
  width: 38px;
  height: 78px;
  border: 1px solid black;
  background-color: transparent;
  margin: -25px 0px 0px 0px;
  font-size: 25px;
  text-align: center;
  display: inline-flex;
  z-index: 5;
  position: relative;
}
.playArea .inputForCount[disabled] {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  z-index: 2;
}
.playArea .yellowtip {
  background-color: yellow;
  border: 2px black solid;
  width: 80px;
  height: 40px;
  margin-top: 210px;
  font-size: 25px;
  margin-left: 20px;
  border-radius: 45px;
  position: absolute;
  margin-bottom: -105px;
  z-index: 3;
}
.playArea .tip {
  width: 80px;
  height: 40px;
  margin-top: 210px;
  font-size: 25px;
  margin-left: 20px;
  border-radius: 45px;
  position: absolute;
  margin-bottom: -105px;
  z-index: 3;
  background-color: transparent;
  color: transparent;
  border: none;
}
.playArea .tip:hover {
  background: yellow;
  background-color: yellow;
  box-shadow: 0 15px 20px yellow;
  color: black;
  transform: translateY(-7px);
  transition: 0.3s;
  border: 2px black solid;
}
.playArea .countbutton {
  font-size: 38px;
  border: none;
  background-color: #f8931f;
  display: block;
  cursor: pointer;
  width: 262px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}
.playArea .needtoclose {
  font-size: 45px;
  width: 85px;
  height: 55px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  color: red;
  font-weight: bold;
  z-index: 4;
}
.playArea .zoneinput {
  display: inline-block;
}
.playArea .zoneinput .beforeCheckTheBall {
  font-size: 38px;
  border: none;
  background-color: #f8931f;
  display: block;
  cursor: pointer;
  width: 266px;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
}

.explain {
  font-size: 20px;
  margin: -90px 0px 0px -75px;
  position: absolute;
}
.explain input {
  display: block;
  width: 150px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  border: 2px solid black;
}
.explain .returnButton {
  padding: 5px;
  background-color: yellowgreen;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 15px;
  font-weight: bold;
}
.explain .comments {
  text-align: start;
}
.explain .comments label {
  font-size: 30px;
  display: block;
}
.explain .comments .textcomment {
  display: block;
  width: 150px;
  height: 100px;
  font-size: 17px;
  border: 2px solid black;
  text-decoration: none;
  overflow: auto;
}
.explain .box {
  width: 150px;
  display: flex;
  margin-top: 5px;
}
.explain .box label {
  width: 60px;
}
.explain .box .orangeSquare {
  width: 30px;
  border: 2px solid black;
  background-color: #f8931f;
}
.explain .box .pinkSquare {
  width: 30px;
  border: 2px solid black;
  background-color: pink;
}
.explain .box .purpleSquare {
  width: 30px;
  border: 2px solid black;
  background-color: purple;
}
.explain .box .square {
  width: 30px;
  border: 2px solid black;
  background-color: firebrick;
}
.explain .saveBox {
  width: 160px;
  display: flex;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.explain .saveBox input {
  width: 30px;
  height: 30px;
}

.atackFileds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.labelAttack {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 45px;
  width: 100%;
}

.attackZone2 {
  margin: 130px 0px 0px -160px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackZone1 {
  margin: 50px 0px 0px -160px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackZone4 {
  margin: 130px 0px 0px 100px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackPipe {
  margin: 40px 0px 0px -32px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackKC {
  margin: 130px 0px 0px -15px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackK1 {
  margin: 130px 0px 0px -75px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

.attackK7 {
  margin: 130px 0px 0px 45px;
  width: 60px;
  height: 60px;
  font-size: 35px;
  z-index: 12;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: 3px solid black;
  border-radius: 50px;
  background-color: cornflowerblue;
  font-weight: 700;
}

/*# sourceMappingURL=newAttack.css.map */
