@mixin tutorGrab {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}
@mixin forText($height, $link) {
  max-width: 1000px;
  width: 100%;
  height: $height;
  border-radius: 2px;
  border: 1px solid transparent;
  margin: 10px 0px;
  background: url($link) no-repeat center center;
  background-size: cover;
}
@mixin forButtons {
  padding: 5px 20px;
  margin: 0px 10px;
  border: 1px solid black;
}
.grab {
  position: fixed;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  @include tutorGrab;
  .tutorial {
    position: absolute;
    max-width: 1030px;
    max-height: 800px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    @include tutorGrab;
    .hideBackground {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      z-index: 24;
      @include tutorGrab;
      .confirmationForExit {
        position: absolute;
        width: 400px;
        height: 200px;
        border: 2px solid black;
        background-color: gainsboro;
        border-radius: 15px;
        top: 35%;
        left: 30%;
        button {
          @include forButtons;
        }
      }
    }
    .exit {
      position: absolute;
      top: 88%;
      button {
        @include forButtons;
      }
    }
    .switch {
      display: flex;
      position: absolute;
      align-items: center;
      top: 89.5%;
      left: 73%;
      label {
        margin-left: 10px;
        font-size: 15px;
      }
    }
    .changeLanguage {
      position: absolute;
      bottom: 93%;
      left: 88%;
      button {
        padding: 5px;
        margin: 3px;
        font-size: 15px;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }
}
.textForTutorial div {
  font-size: 22px;
  padding: 5px;
  line-height: 1.5;
  .lastWord {
    @include forText(400px, "../../public/photos/Harmash.jpg");
    width: 300px;
  }
  .aboutFirstPage {
    @include forText(480px, "../photos/FirstPage.jpg");
  }
  .aboutAttack {
    @include forText(450px, "../photos/Attack.jpg");
  }
  .aboutDistr {
    @include forText(420px, "../photos/Distribution.jpg");
  }
  .aboutRatings {
    @include forText(470px, "../photos/Ratings.jpg");
  }
  .aboutInfo {
    @include forText(450px, "../photos/PersonalInfo.jpg");
  }
  .welcome {
    @include forText(300px, "../photos/welcome.jpg");
  }
  .awarness {
    @include forText(220px, "../photos/Registration.jpg");
    background-size: 50%;
  }
}
